beautifulsoup4==4.8.2
dj-database-url==0.5.0
Django==2.2.3
django-bootstrap4==1.1.1
django-storages==1.9.1
djangorestframework==3.10.2
Markdown==3.1.1
pbr==5.4.5
Pillow==7.0.0
pygame==1.9.6
psycopg2-binary
pytz==2019.1
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
stevedore==1.32.0
virtualenv==16.6.1
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
