
{% load bootstrap4 %}
{% load static %}



{% load unread_messages_counter %}





<!-- Navbar is located in this file -->


<!doctype html>
<html lang="en">
<head>sss
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% block head %}
	<title>Base</title>
	{% endblock %}
	<link rel="stylesheet"  href="{% static  'css/notification.css' %}" type="text/css" class = "notification"/>

	<style>

    .my-container {
        border:1px solid red;
    }

   	.col-4 {
    display: inline-block;
	}

	</style>
</head>
<body>
	<!--
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <a class="my-0 mr-md-auto font-weight-large  text-dark" class= 'navbar=brand'  href="{% url 'dating_app:home' %}"><h5 style="color:red"jfkjflkjfklsj>Cupids Corner</h5> </a>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>

	-->

  
 
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	 <div class = 'nav-wrapper'>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'dating_app:home' %}">Cupids Corner <span class="sr-only">(current)</span></a>
				</li>
				
				
				
			</ul>
		
			{% if user.is_authenticated %}
				

				{% unread_messages request.user as user_unread_messages %}
				{% if user_unread_messages > 0 %}
			
					<li>
						<a ref = 'stylesheet'   href="{% url 'dating_app:conversations' user.id %}" type="text/css" 	class="notification"> 
							<span>Inbox</span>
		    				<span class="badge">{% unread_messages request.user %}</span>
		    			</a>
					</li>

				{% else %}
					<li>
						<a ref = 'stylesheet'   href="{% url 'dating_app:conversations' user.id %}">	
							<span>Inbox</span>
		    			</a>
					</li>

				{% endif %}

				
				  
				
				  
			
				<li class="nav-item">
					<a class="nav-link" href="{% url 'dating_app:view_matches' user.id %}">Matches</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'dating_app:mingle' %}">Mingle</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'dating_app:profile' user.id %}">My Profile</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{% url 'dating_app:logout' %}">log out</a>
				</li>
				

				
				
				
				
			{% else %}
			  <div>
				<a href="{% url 'dating_app:login' %}">log in</a>
				<br>
				<a href="{% url 'dating_app:register' %}">register</a>
			  </div>
			{% endif %}
		</div>
	 <div>
	</nav>
	
<br><br>

<!-- HEADER AREA END -->


<!--Below is individual page will html will be rendered -->

{% block content %}
{% endblock %}

<!-- FOOTER AREA BEGINS BELOW-->

<footer class="container">
      
</footer>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="../../assets/js/vendor/popper.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
    
</body>
</html>
   




