{% extends "dating_app/base.html" %}

{% load bootstrap4 %}



{% block content %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {% block head %}
    <title>Cupids Corner</title>
    {% endblock %}
    
  </head>
  <body>
    

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Don't stay single, join now to mingle!</h1>
          <h2 class="display-3">Meet others looking to to mingle!</h2>
          
          
        </div>
      </div>

      
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            
              
                {% for profile in random_profiles %}
                <div class="col-md-4">
                  <h2>{{ profile.username }}</h2>
                  
                    <img src="{{  profile.photo.url  }}" width="340" height="500">
                  </div>
                {% endfor %}
               
            
          </div>
        
        <hr>

      </div> <!-- /container -->

    </main>

    

{% endblock %}


