

{% extends "dating_app/base.html" %}

{% load bootstrap4 %}



{% block content %}
<br><br><br><br><br><br>

<a href="{% url 'dating_app:message' other_user.id %}">Start messaging!</a>

{% for message in messages %}

	
    	
       	{% if message.sender_id == request.user.id %}
    	<li class="text-right list-group-item"> {{ message.message }}<br>{{ message.date }} </li>
    	{% elif message.sender_id == other_user.id %}
    	<li class="text-left list-group-item"> {{ message.message }}<br>{{ message.date }} </li>

    	{% endif %}
  
    
       
{%endfor %}
        
    
    
        
  

{% endblock content %}

